#font{
    /* font-family:"Libertinus Keyboard", system-ui; */
    /* font-size: 10px; */
    /* font-weight:bolder; */
    /* font-style: italic; */
    /* line-height: 100px; */
    border: 3px solid green;
}

#text{
    /* text-align: center; */
    /* text-decoration: line-through;
    text-decoration-color: blue;
    text-decoration-thickness: 10px; */
    /* text-transform:uppercase; */
    text-shadow: 2px 2px 3px yellow;
    color: red;
}

.color{
    /* color: rgb(34, 191, 68); */
    /* color: rgba(132, 205, 53, 0.893); */
    color: rgba(35, 156, 175, 0.478);
}

#border{
    /* border-width: 5px;
    border-color: red;
    border-style: solid; */

    border: 3px solid green;

    /* border-radius: 90px; */
    border-top-right-radius: 25px;
    border-bottom-left-radius: 20px;
    border-top: 2px dashed red;


}

