.container1{
    border: 2px solid black;
    background-color: aqua;
    height: 1400px;
    width: 1400px;
}

.container2{
    border: 2px solid black;
    background-color: beige;
    height: 800px;
    width: 1400px;
}

.box{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    margin: 20px;
    display: inline-block ;
}

#box1{
    background-color: red;
    /* position: absolute;
    top: 90px; */
    /* left: 90px; */
    /* bottom: 0;
    right: 0; */
}

#box2{
    background-color: green;
    /* position: relative; */
    /* top: 0px; */
    /* right: 90px; */
    /* left: 50px; */
    /* bottom: 30; */
    /* right: 0; */
    /* position: sticky; */
}

#box3{
    background-color: blue;
    /* top: 50px; */
    /* position: fixed; */
    /* left: 30px; */
    /* bottom: 0;
    right: 0; */
    
}

#box4{
    background-color: deeppink;
    /* position: sticky; */
    /* top: 50px; */
}


img{
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: -1;
}
span{
    /* position: relative;
    z-index: 1; */
}

