.container{
    border: 2px solid black;
    background-color: aqua;
    height: 1400px;
    /* width: 1600px; */
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: ; */
    /* justify-content: center; */
    /* align-items:center; */
    /* align-content: space-around; */
}

.items{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    /* margin: 10; */
    /* display: inline-block; */
}

#box1{
    background-color: red;
    /* order: 4; */
    /* flex-grow: 2; */
    /* align-self: end; */
}

#box2{
    background-color: green;
    /* order: 1; */
    /* flex-shrink: 2; */
    /* flex-grow: 1; */
    /* align-self:center ; */
}

#box3{
    background-color: blue;  
    /* order: 2; */
    /* flex-shrink: 2; */
    /* flex-grow: 3; */
    /* align-self: flex-start; */
    /* flex-basis: 300px; */
}

#box4{
    background-color: deeppink;
    /* order: 3; */
}