.container{
    border: 2px solid black;
    background-color: aqua;
    height: 1400px;
    /* width: 1600px; */

    display: grid;

    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;

    /* grid-template-rows: repeat(4,200px);
    grid-template-columns: repeat(3,300px); */

    /* grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */

    /* grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto; */

    row-gap: 10px;
    column-gap: 10px;

    grid-template-areas: "header header header"
                        "sidebar c1 c1"
                        "sidebar c2 c3"
                        "footer footer footer";

    /* justify-content: center;
    align-content: center; */
    /* align-items: end; */
    
    place-content: center center;

}

.items{
    border: 2px solid black;
    /* height: 150px; */
    /* width: 150px; */
}

#box1{
    background-color: red;

    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: header;
    align-self: center;
}

#box2{
    background-color: green;

    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-area: sidebar;
}

#box3{
    background-color: blue;
    
    /* grid-column-start:2 ;
    grid-column-end:4 ; */

    grid-area: c1;
}

#box4{
    background-color: deeppink;

    grid-area: c2;
}
#box5{
    background-color: yellow;
    grid-area: c3;
}
#box6{
    background-color: orange;
    /* grid-column-start: 1;
    grid-column-end: 4; */

    grid-area: footer;
}